/* Begin #link-tree section. */
#link-tree
{

}

#link-tree p
{
	float: left;
	width: 700px;
	overflow: hidden;
}

#link-tree #notifications
{
	float: right;
	border-left: 1px solid #DEDEDE;
}

#link-tree #notifications p
{
	width: auto !important;
}

/* End #link-tree section. Begin #content-container section. */
#content-container
{
	margin: 10px auto 10px auto;
	padding: 0;
	border: 1px solid #DEDEDE;
	border-radius: 8px;
}

#more-padding
{
	padding: 10px !important;
}

/* End #content-container section. Begin #side-bar section. */
#side-bar
{
	position: relative;
	font-size: 90%;
	float: left;
	width: 170px;
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
	background: #F2F2F2;
	border: 1px solid #DEDEDE;
	border-width: 0 1px 1px 0;
	border-radius: 7px 0 8px 0;
}

#side-bar ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#side-bar ul li
{
	position: relative;
}

#side-bar ul li a
{
	display: block;
	padding: 5px;
	font-size: 105%;
	font-weight: bold;
	color: black;
}

#side-bar ul li a:hover
{
	text-decoration: none;
}

/* Second Level Navigation - State: Expanded */
#side-bar ul ul.expanded
{
	display: block;
}

#side-bar ul ul.expanded li a
{
	padding: 4px 8px;
	font-size: 90%;
	font-weight: normal;
	color: #003F87;
}

#side-bar ul ul.expanded li
{
	border: 1px solid #F2F2F2;
	border-width: 1px 0;
}

#side-bar ul ul li:hover
{
	background: white;
	border-color: #DEDEDE;
}

#side-bar ul ul.expanded li ul
{
	display: none;
	width: 170px;
	position: absolute;
	top: -1px;
	left: 160px;
	background: #F2F2F2;
	border: 1px solid #DEDEDE;
	z-index: 1;
}

#side-bar ul ul.expanded li:hover ul
{
	display: block;
}

#side-bar ul ul.expanded li li
{
	border: none;
}

/* Second Level Navigation - State: Collapsed */
#side-bar ul ul.collapsed
{
	display: none;
	width: 170px;
	position: absolute;
	top: -1px;
	left: 160px;
	background: #F2F2F2;
	border: 1px solid #DEDEDE;
	z-index: 2;
}

#side-bar ul li:hover ul.collapsed
{
	display: block;
}

#side-bar ul li:hover ul.collapsed a
{
	padding: 4px 8px;
	font-size: 90%;
	font-weight: normal;
	color: #003F87;
}

#side-bar ul li:hover ul.collapsed li ul
{
	display: none;
	width: 170px;
	position: absolute;
	top: -1px;
	left: 160px;
	background: #F2F2F2;
	border: 1px solid #D2D2D2;
	z-index: 3;
}

#side-bar ul li:hover ul.collapsed li:hover ul
{
	display: block;
}

/* End #sideb-bar section. Begin #side-content section. */
#side-content
{
	float: right;
	width: 704px;
	padding: 0 8px;
}

#snowcms-news
{
	margin: 0 5px 0 0;
	border: 1px solid #DEDEDE;
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 8px 8px;
}

#snowcms-news h3
{
	margin: 0;
	padding: 5px;
	font-size: 90%;
	background: #F2F2F2;
	border-bottom: 1px solid #DEDEDE;
}

#snowcms-news #news-content
{
	height: 125px;
	padding: 5px 10px 13px 10px;
	overflow: auto;
}

#snowcms-news .news-header
{
	margin: 8px auto 0 auto;
	font-size: 90%;
	font-weight: bold;
}

#snowcms-news .news-date
{
	font-weight: normal;
	font-size: 11px;
}

#snowcms-news .news-item
{
	margin: 8px 8px 0 8px;
	font-size: 85%;
}

#side-content .icon-table a
{
	display: block;
	width: 80px;
	height: 80px;
	padding: 5px;
	border: 1px solid #FFFFFF;
	color: #000000;
	text-align: center;
	font-size: 75%;
	text-decoration: none;
}

#side-content .icon-table a:hover
{
	border-color: #DEDEDE;
	background: #F2F2F2;
	border-radius: 8px;
}

#side-content .icon-table img
{
	margin-top: 5px;
}

#side-content .icon-table .label
{
	display: inline-block;
	padding-top: 5px;
}