/* Begin #link-tree section. */
#link-tree
{

}

#link-tree p
{
	float: left;
	width: 700px;
	overflow: hidden;
}

#link-tree #notifications
{
	float: right;
	border-left: 1px solid #DEDEDE;
}

#link-tree #notifications p
{
	width: auto !important;
}

/* End #link-tree section. Begin #content-container section. */
#content-container
{
	margin: 10px auto 10px auto;
	padding: 5px;
	border: 1px solid #DEDEDE;
	border-radius: 8px;
}

#more-padding
{
	padding: 10px !important;
}

/* End #content-container section. Begin #side-bar section. */
#side-bar
{
	float: left;
	width: 140px;
	margin: 0;
	padding: 0 10px 10px 10px;
	background: #F2F2F2;
	border: 1px solid #DEDEDE;
	border-radius: 8px;
	overflow: hidden;
}

#side-bar .sidebar-header
{
	margin: 5px auto;
	font-size: 105%;
	font-weight: bold;
}

#side-bar ul
{
	margin: 0 auto auto 5px;
	padding: 0;
	list-style: none;
	font-size: 90%;
}

#side-bar ul li
{
	margin-top: 1px;
}

/* End #sideb-bar section. Begin #side-content section. */
#side-content
{
	float: right;
	width: 710px;
}

#snowcms-news
{
	margin: 5px 5px 0 0;
	border: 1px solid #DEDEDE;
	border-radius: 8px;
}

#snowcms-news h3
{
	margin: 0;
	padding: 5px;
	font-size: 110%;
	background: #F2F2F2;
	border-radius: 6px 6px 0 0;
}

#snowcms-news #news-content
{
	height: 125px;
	padding: 5px 10px 13px 10px;
	overflow: auto;
}

#snowcms-news .news-header
{
	margin: 8px auto 0 auto;
	font-size: 90%;
	font-weight: bold;
}

#snowcms-news .news-date
{
	font-weight: normal;
	font-size: 11px;
}

#snowcms-news .news-item
{
	margin: 8px 8px 0 8px;
	font-size: 85%;
}

#side-content .icon-table a
{
	display: block;
	width: 80px;
	height: 80px;
	padding: 5px;
	border: 1px solid #FFFFFF;
	color: #000000;
	text-align: center;
	font-size: 75%;
	text-decoration: none;
}

#side-content .icon-table a:hover
{
	border-color: #DEDEDE;
	background: #F2F2F2;
	border-radius: 8px;
}

#side-content .icon-table img
{
	margin-top: 5px;
}

#side-content .icon-table .label
{
	display: inline-block;
	padding-top: 5px;
}