/* Begin #link-tree section. */
#link-tree
{

}

#link-tree p
{
	float: left;
	width: 700px;
	overflow: hidden;
}

#link-tree #notifications
{
	float: right;
	border-left: 1px solid #DEDEDE;
}

#link-tree #notifications p
{
	width: auto !important;
}

/* End #link-tree section. Begin #content-container section. */
#content-container
{
	margin: 10px auto 10px auto;
	padding: 5px;
	border: 1px solid #DEDEDE;
	border-radius: 8px;
}

#more-padding
{
	padding: 10px !important;
}

/* End #content-container section. Begin #side-bar section. */
#side-bar
{
	font-size: 90%;
	float: left;
	width: 165px;
	margin: 0;
	padding: 0 0 3px 0;
	background: #F2F2F2;
	border: 1px solid #DEDEDE;
	border-radius: 8px;
}

#side-bar .cp-link
{
	margin: 0;
}

#side-bar .cp-link a
{
	display: block;
	color: black;
	margin: 5px 5px;
	font-size: 105%;
	font-weight: bold;
	z-index: 0;
	cursor: pointer;
}

#side-bar .cp-link a:hover
{
	text-decoration: none;
}

#side-bar .sidebar-header
{
	margin: 5px 5px;
	font-size: 105%;
	font-weight: bold;
	z-index: 0;
	cursor: pointer;
}

#side-bar ul
{
	margin: 0 auto auto auto;
	padding: 0;
	list-style: none;
	font-size: 90%;
}

#side-bar ul li
{
	position: relative;
}

#side-bar ul li a
{
	padding: 5px 10px;
	display: block;
}

#side-bar ul li a:hover
{
	background: #E8E8E8;
	text-decoration: none;
}

#side-bar ul li ul
{
	position: absolute;
	top: 0px;
	left: 120px;
	z-index: 1;
}

#side-bar ul li ul
{
	font-size: 105%;
	background: #F2F2F2;
	border: 1px solid #DEDEDE;
	border-radius: 8px;
}

#side-bar ul li ul a
{
	display: block;
	width: 170px;
	padding: 5px 8px;
}

#side-bar ul li ul a:hover
{
	color: #003F87;
}

#side-bar ul .is-first
{
	border-radius: 8px 8px 0 0;
}

#side-bar ul .is-last
{
	border-radius: 0 0 8px 8px;
}

/* End #sideb-bar section. Begin #side-content section. */
#side-content
{
	float: right;
	width: 704px;
	padding: 0 8px;
}

#snowcms-news
{
	margin: 5px 5px 0 0;
	border: 1px solid #DEDEDE;
	border-radius: 8px;
}

#snowcms-news h3
{
	margin: 0;
	padding: 5px;
	font-size: 110%;
	background: #F2F2F2;
	border-radius: 6px 6px 0 0;
}

#snowcms-news #news-content
{
	height: 125px;
	padding: 5px 10px 13px 10px;
	overflow: auto;
}

#snowcms-news .news-header
{
	margin: 8px auto 0 auto;
	font-size: 90%;
	font-weight: bold;
}

#snowcms-news .news-date
{
	font-weight: normal;
	font-size: 11px;
}

#snowcms-news .news-item
{
	margin: 8px 8px 0 8px;
	font-size: 85%;
}

#side-content .icon-table a
{
	display: block;
	width: 80px;
	height: 80px;
	padding: 5px;
	border: 1px solid #FFFFFF;
	color: #000000;
	text-align: center;
	font-size: 75%;
	text-decoration: none;
}

#side-content .icon-table a:hover
{
	border-color: #DEDEDE;
	background: #F2F2F2;
	border-radius: 8px;
}

#side-content .icon-table img
{
	margin-top: 5px;
}

#side-content .icon-table .label
{
	display: inline-block;
	padding-top: 5px;
}