<?xml version="1.0"?>
<plugin-info xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://plugins.snowcms.com/xml plugin-info.xsd">
	<author>
		<name>SnowCMS Dev Team</name>
		<website>http://www.snowcms.com/</website>
		<email>dev@snowcms.com</email>
	</author>
	<guid>plugins.snowcms.com/snowcms/menu-manager</guid>
	<name>Menu Manager</name>
	<description>Provides an interface to managing the menus in your sites theme.</description>
	<version>1.0</version>
</plugin-info>