.update-progress-bar-box
{
	width: 100%;
	height: 25px;
	border: 1px solid #000000;
	z-index: 0;
}

.update-progress-bar-fill
{
	height: 25px;
	background: #3465A7;
	z-index: 1;
}

.update-progress-underlay
{
	height: 25px;
	position: relative;
	top: -63px;
	z-index: 2;
	background: red;
	opacity: 0.5;
}

.update-progress-message
{
	height: 25px;
	position: relative;
	top: -35px;
	text-align: center;
	font-weight: bold;
	z-index: 3;
}