* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: Verdana, San-serif;
  font-size: 12px; 
  background: #2D3742;
}
img {
  border: 0px;
}
.quote-title {
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
blockquote {
  border-style: solid;
  border-width: 1px;
}
#header {
  width: 816px;
  height: 100px;
  background: url('images/navbg.png');
  margin-right: auto;
  margin-left: auto;
}
#menu {
  padding: 8px;
  background: url('images/infobg.png');
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
#menu ul {
  list-style: none;
}
#menu ul li {
  display: inline;
}
#menu ul li a {
  padding: 8px;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}
#menu ul li a:hover {
  background: url('images/infobg2.png');
}
#post-container {
  margin-top: 10px;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  background: #FFF url('images/sidebg.png') repeat-x;
}
#post-container #post-left {
  float: left;
  width: 100px;
  padding: 5px;
  font-weight: bold;
  color: #CCC;
  overflow: hidden;
}
#post-container #post-right {
  float: right;
  width: 680px; 
  background: #FFFFFF; 
}
#post-container #post-right #post-info {
  padding: 3px;
  text-align: left;
  color: #FFF;
  font-weight: bold;
  background: #28a1da url('images/infobg.png');
}
#post-container #post-right #post-content {
  padding: 5px;
	overflow: auto;
}
#post-container #post-right #user-sig {
  padding: 5px;
  border-top: 1px solid #000;
}
.break {
  clear: both;
}
#error {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  background: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}
#error .title {
  background: url('images/infobg.png');
  padding: 5px;
  color: #FFFFFF;
  font-weight: bold;
}
#error .message {
  color: #383838;
  margin: 5px;
}
#foot {
  margin-top: 10px;
  color: #FFF;
  background: url('images/navbg.png') repeat-x;
  padding: 8px;
  font-weight: bold;
  width: 816px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
#pagination {
  width: 800px;
  text-align: right;
  color: #FFF;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}
/* Boards and Categories */
#category {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}
#category .title {
  background: url('images/infobg.png');
  font-weight: bold;
  color: #ffffff;
  padding: 5px;
}
#board {
  background: #fff;
  margin-top: 5px;
}
#board img {
  padding: 5px;
}
#board .title {
  background: url('images/infobg.png');
  font-weight: bold;
  color: #ffffff;
  padding: 5px;
}
/* Message Index */
#messageindex {
  background: #fff;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}
#messageindex #title {
  background: url('images/infobg.png');
  color: #fff;
  padding: 5px;
}
#messageindex_panel {
  background: transparent;
  color: #fff;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}
#topic_panel {
  background: transparent;
  color: #FFFFFF;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}
a {
  color: #ddd;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* Posting new topics or replies CSS */
#post {
  width: 800px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  background: #FFFFFF;
}
#post .title {
  padding: 3px;
  color: #FFFFFF;
  font-weight: bold;
  background: url('images/navbg.png') repeat-x;
}
.link_tree {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3px;
  color: #ffffff;
}

#post-content a, .indexcontent a, #board a, .write a {
	color: #1D5A9F;
}

/* Search */
.search {
  width: 800px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  background: #FFFFFF;
}
.results {
  border-collapse: collapse;
}
.results td {
  padding: 2px;
  vertical-align: top;
}
.results .header {
  background: url('images/navbg.png');
}
.results .sidebar {
  background: url('images/navbg.png');
}

textarea.quickreply {
  width: 100%;
  height: 100px;
}

.pm {
  width: 800px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  background: #FFFFFF;
}

.memberlist {
  width: 800px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  background: #FFFFFF;
}

.code-outer {
  border-style: solid;
  border-width: 1px;
  margin: 5px;
}
.code-inner {
  margin: 5px;
  font-family: 'Courier New';
}