* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Georgia, Times, sans-serif;
	background: #F5F5F5;
}

input
{
  font-family: Georgia, Times, sans-serif;
}

#wrapper {
	width: 935px;
	height: 100%;
	min-height: 100%;
	margin: 0px auto;
	padding-left: 44px;
	background: url('images/bodybg.png') repeat-y;
}

#header {
	width: 835px;
	height: 175px;
	background: url('images/colorbg.png') no-repeat;
}

#header h2 {
	color: #fff;
	font-size: 2.1em;
	text-shadow: #000 0px 5px 10px;
	text-align: center;
	padding-top: 40px;
	font-family: "Trebuchet MS", sans;
}

#header p {
	color: #fff;
	font-size: 0.9em;
	text-shadow: #000 0px 5px 5px;
	text-align: center;
	font-family: "Trebuchet MS", sans;
}

#header div#menu-outer {
	height: 30px;
	margin-top: 45px;
}

#header div div#menu-inner {
	display: table;
	margin: 0 auto;
}

#header div div ul {
	min-width: 100px;
}

#header div ul li {
	display: inline;
	list-style-type: none;
	width: 100px;
	height: 30px;
	margin-right: 0;
	background: url('images/linkbg.png') repeat-x;
	padding: 5px 15px;
}

#content a
{
  color: #1E262E !important;
  text-decoration: none;
}

#content a:hover
{
  text-decoration: underline;
}

#content h1
{
  font-size: 150%;
}

#content {
	width: 560px;
	min-height: 300px;
	padding: 10px 10px 10px 20px;
	float: left;
}

#sidebar {
	width: 225px;
	padding: 10px;
	min-height: 300px;
	float: left;
}

#footer {
	width: 835px;
	height: 24px;
	background: #1e262c url('images/colorbg.png') no-repeat;
	clear: both;
	font-size: 0.7em;
	color: #fff;
	text-align: center;
}

#footer p {
	padding-top: 4px;
}

#footer a, a:visited, a:link {
	color: #fff;
}

fieldset
{
  border: none;
}

/* Login form CSS */
#login_form input
{
  font-size: 120%;
  width: 250px !important;
}

#login_form table
{
  text-align: center;
  margin: 10px auto auto auto;
}

#login_form .td_left
{
  padding-right: 5px;
}

#login_form .label
{
  font-weight: normal;
}

#login_form .td_left, .td_right
{
  text-align: left !important;
}

#login_form .buttons input
{
  margin-top: 10px !important;
  font-size: 14px;
  padding: 2px;
}

.form .errors
{
  margin: 15px 10px 15px 10px;
  padding: 5px;
  background: #FFCCCC;
  border: 2px solid #EE0000;
  text-align: center;
  color: #000000;
}

/* Registration form CSS */
.form table
{
  text-align: center !important;
  margin: 10px auto;
}

.form .label
{
  font-weight: bold;
}

#registration_form .subtext
{
  font-size: 11px;
}

#registration_form .td_left
{
  text-align: left !important;
}

#registration_form input
{
  width: 200px;
  font-size: 15px;
}

#registration_form input[type="submit"]
{
  font-weight: bold;
}

/* Activation form CSS */
#activation_form table
{
  text-align: center !important;
  margin: 10px auto auto auto;
}

#activation_form .td_left
{
  padding-right: 5px !important;
}

#activation_form .td_left, #activation_form .td_right
{
  text-align: left !important;
}

#activation_form input
{
  font-size: 120%;
  width: 250px !important;
}

#activation_form .buttons input
{
  margin-top: 10px !important;
  font-size: 14px;
  padding: 2px;
}

#activation_error
{
  margin: 15px 10px 15px 10px;
  padding: 5px;
  background: #FFCCCC;
  border: 2px solid #EE0000;
  text-align: center;
  color: #000000;
}

#activation_success
{
  margin: 15px 10px 15px 10px;
  padding: 5px;
  background: #A6D785;
  border: 2px solid #458B00;
  text-align: center;
  color: #000000;
}

/* Resend and reminder form CSS */
#resend_form table, #reminder_form table, #reset_password_form table
{
  text-align: center !important;
  margin: 10px auto;
}

#resend_form .td_left, #reminder_form .td_left, #reset_password_form .td_left
{
  padding-right: 5px;
}

#resend_form .td_left, #resend_form .td_right, #reminder_form .td_left, #reminder_form .td_right, #reset_password_form .td_left, #reset_password_form .td_right
{
  text-align: left !important;
}

#resend_form .label, #reminder_form .label, #reset_password_form .label
{
  font-weight: bold;
}

#resend_form .subtext, #reminder_form .subtext, #reset_password_form .subtext
{
  font-size: 11px;
}

#resend_success, #reminder_success, #reset_password_success
{
  margin: 15px 10px 15px 10px;
  padding: 5px;
  background: #A6D785;
  border: 2px solid #458B00;
  text-align: center;
  color: #000000;
}
